.wholePage { 
    margin-top: -80px;
    background: hsla(56, 96%, 48%, 1);

    background: linear-gradient(270deg, hsla(56, 96%, 48%, 1) 0%, hsla(27, 95%, 61%, 1) 99%);

    background: -moz-linear-gradient(270deg, hsla(56, 96%, 48%, 1) 0%, hsla(27, 95%, 61%, 1) 99%);

    background: -webkit-linear-gradient(270deg, hsla(56, 96%, 48%, 1) 0%, hsla(27, 95%, 61%, 1) 99%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2E205", endColorstr="#F29A2E", GradientType=1 );

    height: 150vh;
    padding-top: 80px;

  
} 

.ImageAndText{
    padding-top:50px;
    display: flex;
}

.JustImage{
    display: 'flex';
    align-Items: 'center';
    justify-Content: 'center';
    color: 'black';
    flex: 1;     
    padding-left: 30px;
}


.InsideText{
    padding: 40px;
    margin: 50px;
    display: flex;
    vertical-align: center;
    text-align: center;
    align-Items: center;
    float: center;
    flex-Direction: column;
    color: 'black';
}

.textInBox{
    padding-top: 40px;
    vertical-align: center;
    text-align: center;
    align-Items: center;
}

.otherAboutMeText{
    padding: 70px;
    align-Items: left;
    color:black;
    text-align: left;

}

p .otherAboutMeText{
    text-align: left;
}

.Actultext{
    text-align: left;
}