.wholeporfolioPage{
    padding-top: 80px;
    background: hsla(27, 95%, 61%, 1);

    background: linear-gradient(270deg, hsla(27, 95%, 61%, 1) 20%, hsla(309, 100%, 43%, 1) 100%);

    background: -moz-linear-gradient(270deg, hsla(27, 95%, 61%, 1) 20%, hsla(309, 100%, 43%, 1) 100%);

    background: -webkit-linear-gradient(270deg, hsla(27, 95%, 61%, 1) 20%, hsla(309, 100%, 43%, 1) 100%); 

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FA943E", endColorstr="#D900B7", GradientType=1 );
    display: flex;
    align-Items: center;
    justify-Content: center;
    flex: 1;
    flex-Direction: column;

}

.headingText{
    text-align: center;

}

.WholeportfolioBoxes{
    margin-left:5%;
    margin-right:5%;
  
}

.MyPortfolioHeading{
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size:80px;
    color:#010440;

}

